@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
/*.plt_box{
	position: relative;
	width: 1440px;
	height: 1024px;
	margin-top:10%;
	background: #FFFFFF;
	
}*/
.ptl{  /*Third page plan track */
	
	
	text-align: center;
	font-family: Oswald;
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 95px;
	letter-spacing: 0.2px;
	color: #1CCEDE;
}
.plt_def{
	
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
	text-align: center;

	color: #333333;
}
.plt_heading{
	font-family: Oswald;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 53px;

	color: #505050;
}
.plt_heading_def{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;

	color: #505050;
}
.controller{
	position: absolute;
	width: 41.125rem;
	height: 12.6875rem;
	margin-left: 43rem;
	margin-top: 15rem;
	
}

.controller .draw_line{
	font-family: Oswald;
	font-style: normal; 
	font-weight:37.5rem;
	font-size:3.125rem;
}
.controller .def{
	font-family: 'Montserrat', sans-serif;
	font-size:1.375rem;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;
	color: #FFFFFF;
}
.controller_hide .draw_line{
	font-family:Oswald; 
	font-size:30px;
}
.controller_hide .def{
	font-family: 'Montserrat', sans-serif;
	font-size:17px;
	text-align:center;
}
.controller_hide{
	margin-top: 10rem;
}
.controller_hide .box_main1_ {
    margin-top: 10px;
	padding-top: 5px;
	
}
/*------------------------------------------------------------------------------endtoend-solution changes----------------------------------------------------------------------------------------*/
.center-div1_{
	z-index: 5;
	padding: 3px;
	margin-top: 2rem;
	max-width: 25rem;
	height: 4rem;
	background: rgba(6, 6, 6, 0.82);
	border-radius: 3px;
	text-align:center;
	position: relative;
 
}
.endtoend_{
	font-family:Montserrat;
	font-size:2.5rem;
	color:black;
}

.box_main1 {
    margin-top: 15px;
	padding: 3px;
	
}
	
.center-div1
{
	z-index: 5;
	padding: 20px;
	margin: auto;
	width: 41.125rem;
	height:4rem;
	background: rgba(6, 6, 6, 0.82);
	border-radius: 3px;
	text-align:left;
	position: relative;
 
}
.endtoend{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1.375rem;
	line-height: 1.6875rem;
	
	color: #FFFFFF;
	
}
/*-----------------------------------------------------------------------------------endtoend-solution changes end----------------------------------------------------------------------------------*/
/*
.box_main {
    margin: 20px;
	padding: 30px;
	
}
.draw_line{
	border-bottom: 0.5px solid #979797;
	padding-bottom: 5px;	
}*/
.center-div
{
	z-index: 5;
	padding: 30px;
	margin:  auto;
	max-width: 71.5625rem;
	height: fit-content;
	background: rgba(6, 6, 6, 0.82);
	border-radius: 3px;
	
	position: relative;
	
}


/*nav bar */
.button{
	border:0;
	border-radius:0;
	background:#1CCEDE;
	/* color:#1CCEDE; */
	transition:transform .2s;
}

nav
{
  z-index: 5;
  
}
.main_nav_container
{
align-content: center;
}

.Nav_container{
  padding-top: 1rem; 
}

.scroll_class 
{
position: fixed;
left: 0;
width: 100%;
}

.Nav_identifier
{
  z-index: 50;
}

.Nav_container .navbar{
  opacity: 0.82; /*17 night*/
}

.navbar-nav li
{
  padding-right: 20px;
  color: white !important;
  
}

.navbar-nav li :hover
{
  padding-right: 20px;
  color: white !important;
}

.nav-link{
  font-size: 1.1em !important;
  
}

.Nav_identifier/*17 night*/
{
  padding-left: 0 !important;
  padding-right: 0 !important; 
  background: rgba(6, 6, 6, 0.82);
  width: 1441px;
  font-family: Montserrat;
  font-style: normal;
/* font-weight: 600; */
font-size: 18px;
/* line-height: 22px; */
/* identical to box height */

text-align: center;


  
}


/* intrp*/

.Intro_cont
{
    /*
    background-color: #000b1a;
    background-image: url("./../source/image/Intro_cont_Colored.png");
    background-repeat: no-repeat;
    background-size: 100%;
	background-position: 50%;
	background: radial-gradient(circle at left bottom,rgba(0,0,0,0.65)0%,rgba(255,255,255,0)70%), url("./../source/image/background/noir.png");*/
    /*
    background: linear-gradient(to left ,rgba(255,255,255,0)65%,rgba(0,0,0,0.5)100%), url("https://ik.imagekit.io/1tz106e4j/source/image/background/noir_V3_wik-DVBE6o.png");
    
    background-repeat: no-repeat;
    background-size: contain , cover;
    background-position: left-side;
    height: 100vh;
    color: white;*/
}
.hidden_desc{
  
  width:100%;
  padding:50px;
  box-shadow: 3px 3px 5px black;
  margin:15px;
 
}
div.a {
  text-align: center;
}
.Intro_desc .def_drone{
	font-family: Oswald;
	font-style: normal; 
	font-weight:37.5rem;
	font-size:3.125rem;
}
.Intro_desc .def_gis{
	font-family: 'Montserrat', sans-serif;
	font-size:1.375rem;
	font-style: normal;
	font-weight: normal;
	
	line-height: 27px;
	color: #FFFFFF;
}
.Intro_desc1 .endtoend{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1.2rem;
	line-height: 1.6875rem;
	
	color: #FFFFFF;
}
.Intro_desc1{
	position: relative;
	z-index: 5;
	margin-top: 2%;
	float: right;
	margin-right: 0%;
	width: 35rem;
	height: fit-content;
	background: rgba(6, 6, 6, 0.82);
	/*background-color: #00232f;*/
	/*box-shadow: 3px 3px 5px black;*/
	/*background-color: #000b1a;
	padding-right: 10px;*/
	opacity: 1;
}
.Intro_desc
{
  position: relative;
  z-index: 5;
  margin-top: 25%;
  float: right;
  margin-right: 0%;
  width: 35rem;
  height: fit-content;
  background: rgba(6, 6, 6, 0.82);
  /*background-color: #00232f;*/
  /*box-shadow: 3px 3px 5px black;*/
  /*background-color: #000b1a;
  padding-right: 10px;*/
  opacity: 1;
  

}
.Intro_desc_ .def_drone{
	font-family: Oswald;
	font-style: normal; 
	font-weight:3rem;
	font-size:1.7rem;
}
.Intro_desc_ .def_gis{
	font-family: 'Montserrat', sans-serif;
	font-size:1rem;
	font-style: normal;
	font-weight: normal;
	line-height: 27px;
	color: #FFFFFF;
}
.Intro_desc1_ .endtoend{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1.3rem;
	line-height: 1.6875rem;
	
	color: #FFFFFF;
}
.Intro_desc1_{
	position: relative;
	z-index: 5;
	margin-top: 10%;
	float: right;
	margin-right: 0%;
	width: 20rem;
	height: fit-content;
	background: rgba(6, 6, 6, 0.82);
	/*background-color: #00232f;*/
	/*box-shadow: 3px 3px 5px black;*/
	/*background-color: #000b1a;
	padding-right: 10px;*/
	opacity: 1;
}
.Intro_desc_
{
  position: relative;
  z-index: 5;
  margin-top: 40%;
  float: right;
  margin-right: 0%;
  width: 20rem;
  height: fit-content;
  background: rgba(6, 6, 6, 0.82);
  /*background-color: #00232f;*/
  /*box-shadow: 3px 3px 5px black;*/
  /*background-color: #000b1a;
  padding-right: 10px;*/
  opacity: 1;
  

}


.Intro_desc button
{
  position: relative;
    top: 0;
  float:right;
}


/*Mask*/

#Mask
{
    position: absolute;
    top: 0;
    width: 100vw ;
    height: 100vh;
    background-image: url("https://ik.imagekit.io/1tz106e4j/source/image/background/coloredShadow_m5_uM8qaQBSj.png");
    background-repeat: no-repeat;
    max-width: 2774px;
    background-size:  cover, contain;
    background-position: left-side;
    z-index: 2;
    opacity: 0;
}

#Mask_border
{
    background-color: rgba(171, 167, 167, 0.6);
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    opacity: 0;
    background-size: contain, cover;
    background-position: center;
}

/*company*/
.Comp_cont
{
    margin: 0;
    padding-top: 1.5%;
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    min-height: 100%;
    /*background: radial-gradient(circle at 50% 25%, rgba(0,0,0,0.98) 0%,rgba(44, 44, 44,0.95) 100%), url('../source/Svg/Contours.svg') no-repeat;*/
    background: linear-gradient(to bottom right, rgba(0,0,0,0.7) 200%,transparent 250%),url('https://ik.imagekit.io/1tz106e4j/source/image/backgroundcontour_fMacia-PL.png') no-repeat;

    background-size: contain, cover;
}

.Comp_cont img
{
width: 20%;
height: 100%;
}
.comp_img{

    position: relative;
    height: 30vh;
    width: 30vh;
    background: url("https://ik.imagekit.io/1tz106e4j/source/image/Company_logo_jVbGSkB-_n.png") no-repeat;

    background-size: contain;
    filter: drop-shadow(0 0 5px rgb(195, 252, 255));
    z-index: 2;
}
.glow{
    position: relative;
    left: -1vw;
    top: 50vh;
    z-index: 1;
    height: 25.5vh;
    width: 25vh;
    background: transparent;
    box-shadow: 0 -49vh 50px 2px rgb(1, 175, 180), 0 -49vh 80px 2px rgba(231, 248, 255, 0.84);
}

.content{
    padding: 3%;
}
.my-4
{
  margin: 0!important;
}

/* product*/
.Product_cont
{
    height: 100vh;

    /*background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%),url("./../source/image/Map_Trans_m2.png");
    background:  url("./../source/image/Map_Trans_m4.png") ;*/

  background-size: 40%;

  color: rgb(29, 29, 29);

  text-align: center;
    background: white;

}

.Product_cont .H_theme_line
{
  background-color: black;
}
.Product_cont p, .Product_cont .H_theme_line{
  position: relative;
 /* margin-left: 10vw;*/
}

.Product_desc
{
    padding: 4%;
    }

.Product_video
{/*
  float: right;
  position: relative;
  margin-right: 10vw;
*/
    padding: 4%;
}
.walkthrough{
    width: 100%;
    height: 100%;
}
/*Blog Area*/

.Blog_cont .jumbotron{
    position:relative;
    background-image: url("./../source/image/Map_black_bright.png");
background-size: 50%;
    z-index: 4;
}



/*
.Blog_cont button
{
  border-radius: 0;
  border: 0;
  background-color: black;
  color: azure;
}
*/

@keyframes example {
  from {width: 50px;}
  to {width: 100px;}
}

/* The element to apply the animation to */
